<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>back_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{42,55}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,55}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{8,59}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{8,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{34,59}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,384},{28,59}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,323},{34,59}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{34,59}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,299},{34,59}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,299},{34,59}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,384},{32,57}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{32,57}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,443},{32,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{32,53}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,282},{34,59}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,282},{34,59}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{34,59}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{32,61}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{32,61}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,260},{34,61}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{34,61}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{34,61}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{34,61}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,234},{34,63}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,63}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,445},{34,57}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{34,57}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,236},{34,61}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,61}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,136},{38,39}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{38,39}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,219},{24,51}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,51}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,209},{36,49}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{36,49}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,460},{32,45}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{32,45}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,413},{32,45}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{32,45}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,415},{30,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,53}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,154},{40,53}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,53}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,360},{30,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,53}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>circle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,81},{38,53}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{38,53}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,360},{34,51}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{34,51}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{46,43}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{46,43}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,177},{36,55}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{36,55}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,81},{46,71}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,219},{42,61}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,61}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{54,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,73}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{58,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>season_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,81},{46,67}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,67}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>season_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,77},{50,65}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,65}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>season_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,144},{44,73}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,73}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>season_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{46,71}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{46,71}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>wind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,343},{34,43}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{34,43}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>wind_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{36,47}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{36,47}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>wind_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,470},{34,33}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{34,33}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>wind_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,195},{40,39}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{40,39}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahjong-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0149f0bcaad4c00063688f539376fcd:1/1$</string>
            <key>textureFileName</key>
            <string>mahjong-hd.png</string>
        </dict>
    </dict>
</plist>
